@model List<Car>

<h1> Car List </h1>


<div class="pt-2 pb-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Model</th>
                <th>Price</th>
                <th>MakeId</th>
                <th>  </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eachCar in Model)
            {
                <tr>
                    <td>@eachCar.Model</td>
                    <td>@eachCar.Price.ToString("C")</td>
                    <td>@eachCar.MakeId</td>

                    <td>
                        <a asp-controller="Car" asp-action="Edit" asp-route-id="@eachCar.CarId">Edit</a> <br />
                        <a asp-controller="Car" asp-action="Delete" asp-route-id="@eachCar.CarId">Delete</a> <br />
                        <a asp-controller="Car" asp-action="Details" asp-route-id="@eachCar.CarId">Details</a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <div class="col-6">
    </div>
    <div class="col-6">
        <a asp-controller="Car" asp-action="Create" class="btn btn-primary">Add New Car</a>
    </div>
</div>